.env*
node_modules/
**/node_modules/
.pnpm-store/
/packages/db/src/generated
packages/api/src/config.ts
/packages/api/dist
/packages/db/dist
packages/auth/src/config.ts
packages/db/src/config.ts
/packages/types/dist
~/.tauri/myapp.key
apps/desktop/src-tauri/gen/android/keystore.properties
